.rooms {
  width: 500px;
  height: calc(100vh - 80px);
  box-shadow: 1px 0 11px 1px rgba(0,0,0,0.88);
  padding-top: 10px;

    & > .room-component {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      width: 100%;
      cursor: pointer;

      & > div {
        padding: 0 10px;
        & > p {
          color: rgba(0, 0, 0, 0.4);
        }
        & > img {
          width: 50px;
        }
      }

      & > .settings {
        & > button {
          background: transparent;
          border: none;

          & > i {
            font-size: 22px;
          }
        }
      }
    }
}