.header {
  width: 100%;
  position: sticky;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(216 89 140);
  box-shadow: 1px 0 11px 1px rgba(0,0,0,0.88);

  & > .icon {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    & > img {
      background: red;
      width: 50px;
      border-radius: 100%;
    }
  }

  & > .settings {
    width: 80%;
    display: flex;
    justify-content: end;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        & > a {
          & > i {
            font-size: 18px;
            color: white;
            margin: 0 10px;
          }
        }
      }
    }
  }
}
