.modalDeleteRoom {
  padding: 10px;

  & > p {
    text-align: center;
  }

  & > div {
    padding: 10px;
    display: flex;
    justify-content: center;

    & > div {
      margin: 10px;
      & > button {
        padding: 0 20px;
        margin: 0 10px;
      }
    }
  }
}